<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
  <h1><a href="http://cvlab310.iptime.org:3000/"/>  <%= title %> </a></h1>
    <p class="center">Welcome to <%= title %></p>
    <form action='/submit' class="center">
      <input type="submit" value="시작하기"><br>
    </form>
    <form action='/test' class="center">
      <br><input type="submit" value="test">
    </form>
  </body>
</html>
